/* source Box ----------------------------- */

.source-box {
  display: block;
  position: relative;
  padding: 2em;
  color: black;
}

.source-box h2 {
  color: var(--color-accent);
}

.source-box pre {
  background-color: var(--color-bg-code);
  margin-bottom: 20px;
}

.source-box pre.terminal {
  color: var(--color-terminal);
  background-color: var(--color-bg-terminal);
}

.source-box pre.terminal code {
  color: var(--color-terminal);
  text-shadow: 0 0px white;
}

.source-box pre.plain-code {
  color: var(--color-plain);
  background-color: var(--color-bg-plain);
}

.source-box pre.plain-code code {
  background-color: var(--color-bg-plain);
}

.section-header h1 > button {
  color: #fff;
  background-color: #aeb6bd;
  border-color: #aeb6bd;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: 1px 4px;
}

.section-header h1 > button:hover
 {
  background-color: #6c7279;
  text-decoration: none;
}

.section-header h1 > button:focus {
  outline: none;
}
